<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>Welcome!!!</title>
  </head>
<body class="bg-dark">
<div class="container-fluid pt-4">
  <div class="row">

    <div class="col-md-2">


    </div>
    <div class="col-md-8">
      <center><p class="text-danger h3 pb-4">student payment system</p></center>
      <form class="" action="/search" method="post">
      <div class="form-group">
          <input class="form-control" type="text" name="studentid" required="required" value="" placeholder="Student id">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="firstname" value="" placeholder="first name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="lastname" placeholder="last name">
        </div>
        <div class="form-group">
          <p th:text="${school}"></p>        <select class="form-control" name="school">
            <option th:each="school:${schools}" th:text="${school}" th:value="${school}">
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" name="paymenttype">
            <option value="paywhatowedtillnow">pay what owed till now</option>
            <!--  <option value="payfullyearlypayment">pay full yearly payment</option>--> 
          </select>
        </div>
        <button type="submit" class="btn btn-lg btn-success btn-block" name="button">search</button>
      </form>
      <div class="row">
        <div class="col-md-12 pt-4">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">school</th>
              </tr>
            </thead>
            <tbody>
              
             
            </tbody>
          </table>

        </div>

      </div>



    </div>
    <div class="col-md-2">
      <a class="btn btn-success" href="tailor/logout">exit</a>

    </div>
  </div>
</div>
    
</body>
</html>
